/*
 * @Description: 首页css样式
 * @Author: tjj,wyc,lx,myq
 * @Date: 2020-02-07 16:23:00
 * @LastEditors: wyc
 * @LastEditTime: 2020-02-27 00:46:58
 */
head.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
head.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
head.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
footer {
    width: 100%;
    text-align: center;
    background: #2f2f2f;
    padding-bottom: 20px;
}

footer .ng-promise-box {
    border-bottom: 1px solid #3d3d3d;
    line-height: 145px;
}

footer .ng-promise-box {
    margin: 0 auto;
    border-bottom: 1px solid #3d3d3d;
    line-height: 145px;
}